<launch>
    <arg name="uav_id" default="0"/>
    <arg name="namespace" value="$(eval 'uav' + str(arg('uav_id')))"/>
	<node pkg="px4_application" type="uav_collaboration" name="uav_collaboration" output="screen"  ns="$(arg namespace)">
        <rosparam command="load" file="$(find px4_application)/config/uav_collaboration.yaml" />
        <param name="uav_id" type="int" value="$(arg uav_id)" />
    </node>
</launch>
