<launch>
    <arg name="uav_id" default="0"/>
    <arg name="namespace" value="$(eval 'uav' + str(arg('uav_id')))"/>
    <node pkg="px4_application" type="uav_estimator" name="uav_estimator" output="screen" ns="$(arg namespace)">
        <rosparam command="load" file="$(find px4_application)/config/estimator_config/uav_estimator.yaml" />
        <param name="uav_id" type="int" value="$(arg uav_id)" />
	</node>
</launch>